/*
Layout with flex/grid.
Simple dashboard design.
Maybe color-coded expenses (green = income, red = expense).

color palettes: 
#EADEDA
#998888
#BFB8AD
#823329
#8A3033

#E6EED6
#DDE2C6
#BBC5AA
#A72608
#090C02

#4C2E05
#7A8450
#AEBD93
#BEE7B8
#95969D

#848C8E
#435058
#DCF763
#BFB7B6
#F1F2EE

#F7F9F9
#BED8D4
#78D5D7
#63D2FF
#2081C3

#32292F
#99E1D9
#F0F7F4
#70ABAF
#705D56
*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* overall style */
:root {
    --background-color: #F7F9F9;
    --secondary-color: #F0F7F4;
    --savings-accent-color: #7A8450;
    --expense-accent-color: #8A3033;
    --expense-background-color: rgb(253, 206, 206);
    --text-color: #32292F;
    --border-color: #BED8D4
}

body {
    background-color: var(--background-color);
    font-family: "Poppins";
    font-size: 1.1em;
    color: var(--text-color);
    margin: 0;
}

/* heading/menu style */
.heading {
    text-align: center;
    margin: 0;
    padding: 15px;
    border-radius: 0 0 15px 15px;
}

#accountDetails {
    display: flex;
    justify-content: center;
    gap: 15em;
}

/* cards style */
.container {
    display: grid;
    height: auto;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "form expenses expenses"
        "form . ."
}

#form, #expenses {
    background-color: var(--secondary-color);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#form:hover, #expenses:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

h2 {
    margin: 10px;
    padding: 0px;
}

#form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}

#expenses {
    grid-area: expenses;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#totalExpenses {
    justify-self: self-end;
}

input, select {
    width: 70%;
    line-height: 10px;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
    border-color: var(--border-color);
}

button {
    padding: 10px;
    margin: 5px;
    width: 20%;
    border-color: var(--border-color);
    border-radius: 15px;
    background-color: var(--background-color);
}

/* expenses style */
li {
    list-style: none;
    background-color: var(--expense-background-color);
    height: 10vh;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size:larger;
    color: var(--expense-accent-color);
}

#resetAllBtn {
    border-color: var(--expense-accent-color);
    color: var(--expense-accent-color);
    margin: 20px auto;
}